flows2.json
[{"id":"5b238ed.0dee17","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f5eba46b.cce7e8","type":"http in","z":"5b238ed.0dee17","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["cb22f6d9.892458","7bb66116.75671"]]},{"id":"cb22f6d9.892458","type":"function","z":"5b238ed.0dee17","name":"Set to 1","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["5a241854.049988"]]},{"id":"5a241854.049988","type":"rpi-gpio out","z":"5b238ed.0dee17","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":510,"y":760,"wires":[]},{"id":"7bb66116.75671","type":"function","z":"5b238ed.0dee17","name":"Return Status","func":"msg.payload = \"LED set to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["a39c9adf.886f78","dcb11987.c310f8"]]},{"id":"dcb11987.c310f8","type":"http response","z":"5b238ed.0dee17","name":"","statusCode":"","headers":{},"x":870,"y":660,"wires":[]},{"id":"a39c9adf.886f78","type":"debug","z":"5b238ed.0dee17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":980,"wires":[]},{"id":"3c1ac7ca.f551d8","type":"http in","z":"5b238ed.0dee17","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":860,"wires":[["b95e15a1.8c30d8","5cd5a7ed.e58f98"]]},{"id":"b95e15a1.8c30d8","type":"function","z":"5b238ed.0dee17","name":"Clear to 0","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":860,"wires":[["5a241854.049988"]]},{"id":"5cd5a7ed.e58f98","type":"function","z":"5b238ed.0dee17","name":"Return Status","func":"msg.payload = \"LED set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":940,"wires":[["a39c9adf.886f78","dcb11987.c310f8"]]}]