flows1.json
[{"id":"dc5728e7.54f3d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e2731c8d.d1e3","type":"rpi-gpio in","z":"dc5728e7.54f3d8","name":"GPIO17","pin":"11","intype":"up","debounce":"25","read":true,"x":260,"y":400,"wires":[["64521b68.35e154"]]},{"id":"64521b68.35e154","type":"function","z":"dc5728e7.54f3d8","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["1923bf5c.9562f1"]]},{"id":"160a66ea.514d89","type":"http in","z":"dc5728e7.54f3d8","name":"[get] /GPIO","url":"/switch","method":"get","upload":false,"swaggerDoc":"","x":270,"y":240,"wires":[["afffcee3.1df95"]]},{"id":"afffcee3.1df95","type":"function","z":"dc5728e7.54f3d8","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["1923bf5c.9562f1","9ab0fb86.97acc8"]]},{"id":"9ab0fb86.97acc8","type":"http response","z":"dc5728e7.54f3d8","name":"","statusCode":"","headers":{},"x":900,"y":280,"wires":[]},{"id":"1923bf5c.9562f1","type":"debug","z":"dc5728e7.54f3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":440,"wires":[]}]